@import url(https://fonts.googleapis.com/css?family=Nunito);.btn {
  font-size: 16px;
  font-weight: 400;
}

.btn--small {
  width: 20px;
  height: 20px;
}

.table__header-item {
  width: 20%;
  font-weight: 600;
}

